@model List<Product>

@foreach(var i in Model){
    <div>
        <h4>@i.ProductName</h4>
        <p><b>Price</b> : @i.Price</p>
    </div>

} 

<a class="btn btn-success"
   asp-controller="Home"
   asp-action="Index">
    Home
</a>