body {
    font-size: 35px;
}

table {
    background-color: #333;
    color: white;
    border: rgb(249, 195, 20) 2px solid;
    cursor: pointer;
}

th {
    width: 20rem;
}

tr:nth-child(3) {
    color: blue
}

tr:hover {
    cursor: pointer;
    background-color: #a1a1a1;
}

tr:active {
    background-color: #af00af;
}